.weather-app-user-form{
    margin-top: 10%;
    left: 50%;
    padding: 20px;
    bottom: 0;
    background-color: aliceblue;
    right: 0;
    margin-left: 50%;
    border: solid 1px #322f31;
    width: 200px;
}