.header{
    background: #0099cc;
    color: #fff;
    height: 50px;
    width: 100%;
    text-align: center;
}
.footer{
    background: #000; 
    color: #fff;   
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-style: italic;
}