.app-main{
  padding: 10px;
}
.app-weather-info-heading{
  color: #0099cc;
  font-size: 20px;
  text-align: center;
}
.recent-searches{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}